<div class="container_productos_ticket">
  <ul>
    <li *ngFor="let prod of productosEnTicket">
      {{ prod.nombre }} __________x {{ prod.cantidad }}
    </li>
  </ul>
  <div class="container_button">
    <p-button
      (click)="dialogCobrarVisible = true"
      >Cobrar</p-button
    >
    <p-button
      (click)="dialogTicketVisible = true"
      >Sacar ticket</p-button
    >
    <p-button
      severity="danger"
      (click)="dialogNuevoTicketVisible = true"
      >Nuevo ticket</p-button
    >
  </div>

  <div class="card flex justify-content-center">
    <p-dialog
      [modal]="true"
      [(visible)]="dialogTicketVisible"
      [style]="{ width: '25rem' }"
      closable="true"
    >
      <app-ticket></app-ticket>
    </p-dialog>
  </div>
  <div class="card flex justify-content-center">
    <p-dialog
      (onShow)="pulseCloseDialogCobrar = false"
      (onHide)="pulseCloseDialogCobrar = true"
      [modal]="true"
      [(visible)]="dialogCobrarVisible"
      [style]="{ width: '25rem' }"
      closable="true"
    >
      <app-cobrar [cierreDialogo]="pulseCloseDialogCobrar"></app-cobrar>
    </p-dialog>
  </div>
  <div class="card flex justify-content-center">
    <p-dialog
      header="¿Estas seguro que desea crear un nuevo ticket?"
      [modal]="true"
      [(visible)]="dialogNuevoTicketVisible"
      [style]="{ width: '25rem' }"
      closable="false"
    >
      <div class="flex justify-content-between mt-5 pt-5">
        <button
          pButton
          label="Cancelar"
          class="p-button-danger"
          (click)="dialogNuevoTicketVisible = false"
        ></button>
        <button
          pButton
          label="Confirmar"
          class="p-button-success"
          (click)="confirmarNuevoTicket()"
        ></button>
      </div>
    </p-dialog>
  </div>
</div>
