<div id="ticket-content">
  <h4 class="text-center title text-sm">Piscinas de Vencillón</h4>
  <div class="text-center container_nif">
    <p>NIF: Y8104772T</p>
    <p>CARRETERA DE ACCESO S/N</p>
    <p>22549 VENCILLÓN</p>
    <p>TELF. 642719700</p>
  </div>
  <table class="ticket-products mt-5">
    <tr class="product-row header bold">
      <td>Descripción</td>
      <td>Unid.</td>
      <td>Precio</td>
      <td>Total</td>
    </tr>
    <tr class="product-row" *ngFor="let prod of productos">
      <td>{{ convertirAMayusculas(prod.nombre) }}</td>
      <td>{{ prod.cantidad }}</td>
      <td>{{ prod.precio }}</td>
      <td>{{ twoDecimals(prod.cantidad * prod.precio) }}</td>
    </tr>
    <tr class="product-row total">
      <td class="text-left" colspan="2">Total IVA incluido</td>
      <td class="text-right" colspan="2">{{ totalEuros }}€</td>
    </tr>
  </table>
  <p class="gracias">Gracias por su visita.</p>
</div>
<button (click)="printTicket()">Imprimir Ticket</button>
