<div id="ticket-content">
  <h4 class="text-center title text-sm">{{ticketInfo.name}}</h4>
  <div class="text-center container_nif">
    <p>NIF: {{ ticketInfo.nif }}</p>
    <p>{{ ticketInfo.direccion }}</p>
    <p>{{ ticketInfo.codigoPostal }} {{ ticketInfo.localidad }}</p>
    <p>TELF. {{ ticketInfo.telefono }}</p>
    <p>Fecha: {{ ticketInfo.fecha }}</p>
  </div>
  <table class="ticket-products mt-5">
    <tr class="product-row header bold">
      <td>Descripción</td>
      <td>Unid.</td>
      <td>Precio</td>
      <td>Total</td>
    </tr>
    <tr class="product-row" *ngFor="let prod of productos">
      <td>{{ convertirAMayusculas(prod.nombre) }}</td>
      <td>{{ prod.cantidad }}</td>
      <td>{{ twoDecimals(prod.precio )}}</td>
      <td>{{ twoDecimals(prod.cantidad * prod.precio) }}</td>
    </tr>
    <tr class="product-row total">
      <td class="text-left" colspan="2">Total IVA incluido</td>
      <td class="text-right" colspan="2">{{twoDecimals(totalEuros)}}€</td>
    </tr>
    </table>
  <p class="gracias" >Gracias por su visita.</p>
</div>
<button  (click)="printTicket()">Imprimir Ticket</button>
